/.vs/Authorization.Solution/DesignTimeBuild/*.dtbcache
/.vs/Authorization.Solution/v15/*.suo
/.vs/Authorization.Solution/v15/Server/sqlite3
/.vs/config
/Authorization/obj
/Authorization.Tests/obj
/Authorization/bin/Debug/netcoreapp2.2
